:root{
    --green: #3DDC97;
    --blu: #0E6B63;
    --white: #FFFFFF;
    --orange: #E88A3D;
    --dark_grey: #333333;
    --light_grey:#F5F5F5;
}

body{
    background-color: var(--blu);
}
*{
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5{
    font-family: "Stack Sans Notch", sans-serif;
    color: var(--orange);

}

.bg-blu{
    background-color: var(--blu) !important;
}

.bg-orange{
    background-color: var(--orange);
}

.bg-green{
    background-color: var(--green) !important;
}

.logo{
    width: 3.5rem;
}

.nav-link{
    color: var(--orange);
    font-weight: 700;
}

.nav-link:hover{
    color: var(--light_grey) !important;
}

.navbar-toggler-icon {
    width: 1.2rem;
    height: 1.2rem;
}

#navbar:has(.navbar-toggler[aria-expanded="true"]) {
    height: 200px; /* altezza quando è aperto */
}

/* Header */

header{
    background-image: url('Media/fondale.png');
    background-position: center;
    background-size: cover;
}

/* Card */
.card-custom{
    height: 300px;
    transition: 0.5s;
    
}

.card-custom:hover{
    transform: scale(1.2);
    z-index: 2;
    color: #F5F5F5;
    font-weight: 600;
}

.positioned{
    bottom: 80px;
}

@media (max-width: 576px) {
    .card-custom:hover{
        transform: scale(1);
    }
    .card-custom{
        height: 270px;
    }
}

/* seller*/

span{
    font-size: 3rem;
    font-weight: 800;

}


.swiper {
  height: 600px;
}

.swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-button-next, .swiper-button-prev{
    color: var(--white);
}