:root{
    --green: #3DDC97;
    --blu: #0E6B63;
    --white: #FFFFFF;
    --orange: #E88A3D;
    --dark_grey: #333333;
    --light_grey:#F5F5F5;
}

body{
    background-color: var(--blu);
}
*{
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5{
    font-family: "Stack Sans Notch", sans-serif;
    color: var(--orange);

}

.bg-blu{
    background-color: var(--blu) !important;
}

.bg-orange{
    background-color: var(--orange);
}

.bg-green{
    background-color: var(--green) !important;
}

.logo{
    width: 3.5rem;
}

.nav-link{
    color: var(--orange);
    font-weight: 700;
}

.nav-link:hover{
    color: var(--light_grey) !important;
}


/* Header */

header{
    background-image: url('Media/fondale.png');
    background-position: center;
    background-size: cover;
}

/* Card */
.card-custom{
    height: 250px;
    transition: 0.5s;
    
}

.card-custom:hover{
    transform: scale(1.2);
    z-index: 2;
    color: #F5F5F5;
    font-weight: 600;
}

.positioned{
    bottom: 80px;
}
